{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {"ecmaVersion": 2018, "sourceType": "module"},
  "plugins": ["react", "react-hooks", "@typescript-eslint"],
  "rules": {
    "react-hooks/exhaustive-deps": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "no-console": ["error", {"allow": ["info"]}],
    "no-useless-escape": "off",
    "curly": "error" //ex. if (boolean) return true;
  }
}
